@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #dee0e4;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans"
    --azul: #002F52;
    --degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}