.contato {
    background-color: var(--branco);
    padding: 1em;
   
}
.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.contato__texto {
    margin: 1em 0;
    font-weight: 300;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
}
.contato__email::placeholder{
    
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Vector.svg") no-repeat;
    background-position: 5px center;
    padding-left: 2rem;
}
.contato__email:placeholder-shown {
    color: var(--azul);
    padding-left: 2rem;
}
@media screen and (min-width: 1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__titulo{
        font-size: 24px;
    }
    .contato__email{
        width: 30%;
    }
    .contato__texto {
        margin-right: 1em;
        width: 30%;
    }
}
@media screen and (min-width: 1728px){
    .contato{
        padding: 3em 30vw;
    
    }
}