.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
    
}
.container__botao{
    display: none;
}
.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__link{
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}
.container__titulo {
    display: none;
}
.opcoes{
    display: none;
}

.container__texto{
    display: none;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}
.container__botao:checked ~ .container__rotulo {
    background: blue;
}




@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        display: block; /*para que o nome ALURABOOKS apareça, pois em mobile ele nao aparece*/
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item{
        padding: 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: black;
    }
    .container__imagem-transparente{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~.opcoes__rotulo > .opcoes__item {
        background: #002F52;
        color: aliceblue;
    }
    .opcoes__item{
        padding: 2em 1em;
    }
    .lista-menu__item:hover {
        background: #002F52;
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: aliceblue;
    }

}
@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }
    .cabecalho{
        padding: 0.2em;
    }
    .opcoes{
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
}    