.topicos{
    background: var(--degrade);
    text-align: center;
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__item{
    margin: 2em 0.5em;
}
.topicos__link{
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
        margin: 1em auto;
        padding: 1em 0;
    }
    .topicos__link{
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px){
    .topicos{
        padding: 3em 30vw;
    }
}